{{ friend | json }}

<section class="main">
  <h1>Be my friend!</h1>
  <form action="" #formName="ngForm" novalidate (ngSubmit)="onSubmit()">
    <div class="input-group mb-3">
      <span class="input-group-text">First name</span>
      <input type="text" class="form-control" placeholder="First name" name="firstName" #firstName="ngModel" [(ngModel)]="friend.firstName" required [class.error]="firstName.invalid && lastName.touched" pattern="^[a-zA-Z]+$">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Last name</span>
      <input type="text" class="form-control" placeholder="Last name" name="lastName" #lastName="ngModel" [(ngModel)]="friend.lastName" required [class.error]="lastName.invalid && lastName.touched" pattern="^[a-zA-Z]+$">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Email</span>
      <input type="email" class="form-control" placeholder="Your email" name="email" #email="ngModel" [(ngModel)]="friend.email" required [class.error]="email.invalid && email.touched" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,4}$">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text">Mobile number</span>
      <input type="text" class="form-control" placeholder="Your phone number" name="number" #number="ngModel" [(ngModel)]="friend.number" required [class.error]="number.invalid && number.touched" pattern="^[0-9]{10}$">
    </div>
    <div class="input-group mb-3">
      <label for="form">Your favourite language: </label>
      <select name="language" id="form" class="dropdown-toggle" #language="ngModel" [(ngModel)]="friend.language" required [class.error]="language.invalid && language.touched">
        <option value="HTML">HTML</option>
        <option value="JavaScript">JavaScript</option>
        <option value="PHP">PHP</option>
        <option value="CSS">CSS</option>
        <option value="Other">Other</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit" value="Submit" [disabled]="!formName.valid">Submit</button>
  </form>
  <div *ngFor="let friend of allFriends">{{friend.email}} {{friend.firstName}}</div>
</section>

<!--<router-outlet></router-outlet>-->
