{{ friend | json }}

<section class="main">
  <h1>Be my friend!</h1>
  <form action="" #formName="ngForm">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">First name</span>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" #firstName="ngModel" [(ngModel)]="friend.firstName" required [class.error]="firstName.invalid && firstName.touched">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon2">Last name</span>
      <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1" #lastName="ngModel" [(ngModel)]="friend.lastName" required [class.error]="lastName.invalid && lastName.touched">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon3">Email</span>
      <input type="text" class="form-control" placeholder="Your email" aria-label="Your email" aria-describedby="basic-addon1" #email="ngModel" [(ngModel)]="friend.email" required [class.error]="email.invalid && email.touched">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon4">Mobile number</span>
      <input type="text" class="form-control" placeholder="Your phone number" aria-label="Your phone number" aria-describedby="basic-addon1" #number="ngModel" [(ngModel)]="friend.number" required [class.error]="number.invalid && number.touched">
    </div>
    <div class="input-group mb-3">
      <label for="form">Your favourite language: </label>
      <select name="language" id="form" class="dropdown-toggle" #language="ngModel" [(ngModel)]="friend.language" required [class.error]="language.invalid && language.touched">
        <option value="HTML">HTML</option>
        <option value="CSS">JavaScript</option>
        <option value="JS">PHP</option>
        <option value="PHP">CSS</option>
        <option value="PHP">Other</option>
      </select>
    </div>
    <button class="btn btn-primary" type="submit" value="Submit">Submit</button>
  </form>
</section>
<router-outlet></router-outlet>
