h1 {
  color: lightsalmon;
  font-family: "Arial Narrow";
}

#form {
  margin-left: 20px;
  width: 200px;
  border-radius: 5px;

}
.btn {
  width: 200px;

}

.error {
  border: 2px solid red;
  background-color: mistyrose;
}

